<div class="aside-profile">
    <div class="user">
        <div class="user-avatar">
            <i class="fas fa-user-astronaut"></i>
        </div>
        <div class="user-name">
            <h4>{{ user.fullName }}</h4>
            <p>{{ user.email }}</p>
        </div>
    </div>
    <div class="user-pointers">
    {% for marker in markers %}
        <div class="user-pointers__pointer">
            <h5>{{ marker.title }}</h5>
            <p>{{ marker.description }}</p>
            <div class="user-pointers__pointer-buttons">
                <a href="{{ path('marker_edit', {'id': marker.id }) }}">Изменить</a>
                <a href="{{ path('marker_delete', {'id': marker.id }) }}">Удалить</a>
            </div>
        </div>
    {% else %}
        <p>
            Теперь вы можете добавить сколько угодно заметок на карту, 
            просто кликните по ней чтобы взять текущие координаты объекта
        </p>
    {% endfor %}
    </div>
    <div class="marker-add">
        <a class="btn marker-add__btn" href="{{ path('marker_add') }}">Добавить точку на карте</a>
    </div>
</div>