<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony Map Appliction 🏝{% endblock %}</title>
        {% block stylesheets %}
            <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css' rel='stylesheet' />
            <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap&subset=cyrillic-ext" rel="stylesheet">
            {{ encore_entry_link_tags('css/app') }}
        {% endblock %}
    </head>
    <body>
        <main id="main">
            <aside class="aside">
                <a href="/" class='aside-logo'>map<span>app</span></a>
                
                {% for message in app.flashes('notice') %}
                    <div class='aside-flash'>
                        {{ message }}
                    </div>
                {% endfor %}

                {% block body %}{% endblock %}

                <div class="aside-bottom">
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('map_logout') }}">Выход</a>
                    {% else %}
                        <a href="{{ path('map_register') }}">Регистрация</a>
                    {% endif %}
                    <a href="{{ path('map_info') }}">О сервисе</a>
                </div>
            </aside>
        </main>
        
        {% block javascripts %}
            <script src="https://kit.fontawesome.com/69d3fe38b5.js" crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('js/app') }}
        {% endblock %}
    </body>
</html>
